<p-fileUpload
uploadLabel="Send"
accept="image/*" 
[customUpload]="true"
[showUploadButton]="useSend"
[showCancelButton]="useCancel"
(uploadHandler) = "onUploadHandler($event)"
[multiple]="false"
[maxFileSize]="maxFileSize">
    <ng-template pTemplate="content">
        <ul *ngIf="uploadedFiles.length">
            <li *ngFor="let file of uploadedFiles">
                {{ file.name }} - {{ file.size }} bytes
            </li>
        </ul>
        <div class="flex align-items-center justify-content-center flex-column">
                <i class="pi pi-cloud-upload border-2 border-circle p-2 text-400 border-400"></i>
                <p class="">Drag and drop files to here to upload.</p>
        </div>
    </ng-template>
</p-fileUpload>
